DEV=false
CLIENT_APP_NAME=Myousic
CLIENT_API_URL=/api # Could be http://localhost:PORT/api, but for production use /api
CLIENT_VERSION=0.0.0
SERVER_LOG_LEVEL=INFO
SERVER_AUDIO_AVAILABLE=2880 # How long is audio available for a user in minutes. Minimum 1. Default: 48h
